
<table>
     <tr>
         <td><a href="{% include /content/image_filter.html filter=face_filter.jpg caption=Face_filter %}" >Face </a></td>
         <td><a href=".">Eye</a></td>
         <td><a href="about">Age</a></td>
         <td><a href="about">Gender</a></td>
        <td><a href="about">Emotion</a></td>
  </tr>
 </table>
 <hr>
 <div class="content">
     {{include.filter}}
 </div>

<figure>
   <img src="{{site.url}}/assests/images/{{include.filter}}"/>
   <figcaption>{{include.caption_default}}</figcaption>
</figure>
