
<table>
     <tr>
         <td><a href="." onclick="changeImage('face')">Face {% assign include.filter = "face_filter.jpg" include.caption_default="Face filter" %}</a></td>
         <td><a href=".">Eye</a></td>
         <td><a href="about">Age</a></td>
         <td><a href="about">Gender</a></td>
        <td><a href="about">Emotion</a></td>
  </tr>
 </table>
 <hr>
 <div class="content">
     {{include.filter}}
 </div>

<figure>
   <img src="{{site.url}}/assests/images/{{include.filter}}"/>
   <figcaption>{{include.caption_default}}</figcaption>
</figure>


<script>
     console.log('Test')
</script>
